body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #7f0808;
    color: white;
    padding: 1em;
    text-align: center;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

nav button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

main {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 100px;
}

#wishlist-section {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#wishlist-items {
    display: flex;
    flex-wrap: wrap;
}

.wishlist-item {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
}

.wishlist-item img {
    max-width: 100%;
    height: auto;
}

.wishlist-item h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.wishlist-item button {
    background-color: #ff9800;
    color: white;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
}

footer {
    background-color: #7f0808;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
